<table style="width: 100%; background: #666666; padding: 0.25em; border-radius: 0.4em;">
    <tr>
        <td>
            <span class='purple_header'>Differences in Default Privileges</span>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 0.5em;padding-bottom: 0.5em;">
            <span class="purple_desc">
                This list highlights role-base <b>Default Privileges</b> that differ between 2 clusters.</span>
        </td>
    </tr>
    <tr>
        <% if(DiffsJSON.length > 0) { %>
        <td style="border-radius: 0.3em;background: white;padding: 1em;">
            <table style="border-collapse: collapse;width: 100%;">
                <tr>
                    <th class="t_header" style="width: 20%">User/Role</th>
                    <% for(const clusterMetadata of ReviewsToCompare) { %>
                    <th class="t_header" style="width: 40%"><span style='color: #666666'>Cluster: </span><%- clusterMetadata.ConnName %>&nbsp;<span style='font-size: 0.7em; color: #666666'><%- new
                        Date(clusterMetadata.TheTS).toLocaleString() %></span>
                    </th>
                    <% }; %>
                </tr>
                <% for(const diffElement of DiffsJSON) { %>
                <tr>
                    <td class="t_body"><%- diffElement.UserName %></td>
                    <td class="t_body"><%- diffElement.DiffLeftVal %></td>
                    <td class="t_body"><%- diffElement.DiffRightVal %></td>
                </tr>
                <% }; %>
            </table>
        </td>
        <% } else { %>
        <td style="border-radius: 0.3em;background: white;padding: 1em;color: darkgreen;">
            <span style="font-family: 'Trebuchet MS';">Default privileges are identical across both clusters</span>
        </td>
        <% }; %>
    </tr>
</table>
